* {
  color: white;

  font-family: Comfortaa;

  font-size: 19px;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;

  background: #0a0a0a;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  transition: transform .7s ease-in-out;
}

body.incall>.call {
  transform: translateY(-100vh);
}

body>div {
  position: relative;

  width: 100vw;
  height: 100vh;

  transition: transform .7s ease-in-out;
}

.menu {
  display: flex;

  justify-content: center;
  align-items: center;
}

.clients {
  width: 80%;
  max-width: 500px;

  border-radius: 4px;
  overflow: hidden;
}

.client {
  width: auto;
  padding: 5px 8px;

  background: #3a3a3a;

  cursor: pointer;
}

.client:hover {
  background: #2c2c2c;
}

.call {
  background: #222;
}

video {
  background: black;
  aspect-ratio: 16 / 9;
  object-fit: contain;

  border-radius: 15px;
}

#remote {
  position: absolute;
  top: 50vh;
  left: 50vw;
  height: 70%;
  width: auto;
  
  z-index: 2;

  transform: translate(-50%, -50%);
}

#local {
  position: absolute;
  bottom: 16px;
  right: 16px;
  height: 200px;
  width: auto;

  z-index: 3;
}

button {
  border: none;

  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  /* font-size: 40px; */

  cursor: pointer;
}

i {
  font-size: 30px;
}

.hangup {
  position: absolute;

  bottom: 15px;
  left: 15px;

  background: #ca2222;
  color: white;
}

.controls {
  position: absolute;
  bottom: 15px;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
}

.controls>button {
  margin: 0 8px;
  background: #0b5ed7;
}